@charset "ISO-8859-1";
/* Capacitación Oficializada */

/* Menu */

.link
{ width: 367px !important; }

/* Contenedor - Capacitación Oficializada */

.titulo
{
    background-color: #F20519 !important;
    font-size: 20px;
}

.btn.btn-primary
{
	margin: 0px 0px 10px 0px !important;
	background-color: #f7aa55 !important;
	border-color: #f7aa55 !important;
}

.col-auto  label
{
	margin: .5rem !important;
}

/* Modal */

.modal-header
{
     color: #2d1700;
     background-color: orange;
     display: flex;
     justify-content: center;
}

.help-block 
{ color: red; }

.form-group.has-error .form-control-label 
{ color: red; }

.form-group.has-error .form-control 
{
      border: 1px solid red;
      box-shadow: 0 0 0 0.2rem rgba(250, 16, 0, 0.18);
}